<header
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top"
  id="site-header"
>
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/index.html">
      <img class="brand-photo" src="/assets/img/photo.svg" alt="Photo de Merlin Guyard" />
      <span>Merlin Guyard</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Ouvrir le menu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-3">
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link" data-nav="accueil" href="/index.html">Accueil</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/pages/presentation.html">Présentation</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/parcours.html">Parcours</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link" data-nav="realisations" href="/pages/realisations/index.html"
            >Réalisations</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/pages/realisations/realisation-1.html"
                >Réalisation 1</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/pages/realisations/realisation-2.html"
                >Réalisation 2</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/pages/realisations/realisation-3.html"
                >Réalisation 3</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/pages/realisations/realisation-4.html"
                >Réalisation 4</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/pages/realisations/realisation-5.html"
                >Réalisation 5</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown dropdown-hover">
          <a class="nav-link" data-nav="competences" href="/pages/competences/index.html"
            >Compétences</a
          >
          <ul class="dropdown-menu">
            <li><h6 class="dropdown-header">Compétences techniques</h6></li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-1.html">Compétence 1</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-2.html">Compétence 2</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-3.html">Compétence 3</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-4.html">Compétence 4</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-5.html">Compétence 5</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><h6 class="dropdown-header">Compétences humaines</h6></li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-6.html">Compétence 6</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-7.html">Compétence 7</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-8.html">Compétence 8</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-9.html">Compétence 9</a>
            </li>
            <li>
              <a class="dropdown-item" href="/pages/competences/competence-10.html"
                >Compétence 10</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-nav="contact" href="/pages/contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
